<div class="flex-col center">
  <h4><i class="fa fa-hand-peace-o"></i></h4>
  <h4 class="titleText">Du bekommst neue Abenteuerpunkte!!!</h4>
  <p>
    Aktuell hast Du {{ accountEntry.amount }} {{ accountEntry.unit }}. Wie viele
    kommen jetzt dazu?
  </p>

  <input
    type="number"
    placeholder="Die Anzahl deiner {{ accountEntry.unit }}"
    [(ngModel)]="newAmount"
  />
</div>
<hr />
<div class="buttonRow row">
  <button (click)="raiseCancel()">Doch nicht.</button>
  <button class="background-danger" (click)="raiseAccept()">
    <i class="fa fa-magic"></i> So ist das jetzt mit dem Geld
  </button>
</div>
