<div class="flex-col center">
  <img src="/assets/money-icon.png" class="dialogHeroImage no-border" />
  <p>
    Aktuell hast Du <span style="font-weight: 700;">{{ accountEntry.amount }} {{ accountEntry.unit }}</span>.
  </p>
  <p>
    Auf welchen Wert möchtest Du es setzen?
  </p>

  <input type="number" placeholder="Die Anzahl deiner {{ accountEntry.unit }}" [(ngModel)]="newAmount" />
</div>
<hr />
<div class="buttonRow row">
  <button (click)="raiseCancel()">Doch nicht.</button>
  <button class="background-danger" (click)="raiseAccept()">
    <i class="fa fa-magic"></i> So ist das jetzt mit dem Geld
  </button>
</div>