<div class="container">
    <div class="mainStatus">
        <div class="mainStatusLabel">LE</div>
        <div class="mainStatusValue good">{{heroProperty.lifeLeft}}/{{heroProperty.life}}</div>
    </div>
    <div class="buttons">
        <button md-mini-fab (click)="updateLife(-5)">-5</button>
        <button md-mini-fab (click)="updateLife(-1)">-1</button>
        <button md-mini-fab (click)="updateLife(1)">+1</button>
        <button md-mini-fab (click)="updateLife(5)">+5</button>
    </div>
</div>
