mat-card {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    padding: 12px;
}

.skillTitle {
    width: 120px;
}

.skillBe, .skillValue {
    width: 50px;
}

.fightDices {
    width: 120px;
    display:flex;
}

.fightDice {
    width: 60px;
}

.dices {
    display: flex;
    width: 200px;
}

.dice {
    width: 40px
}

i {
    margin-right: 5px;
}