<div class="flex-col flex-item">
  <div class="flex-row padded searchContainer center">
    <input
      placeholder="Suchbegriff"
      [value]="spellSearchTerm"
      (input)="spellSearchTerm = $event.target.value"
    />
  </div>
  <div class="talente padded">
    <div
      class="flex-col center spellGroup"
      *ngFor="
        let spellGroup of hero.spellGroups
          | MatchesSpellSearchTermChildren: spellSearchTerm
      "
    >
      <div class="spellGroupTitle border">{{ spellGroup.spellGroup.name }}</div>
      <div class="spellGroupEntries">
        <div
          class="spellEntry"
          *ngFor="
            let spell of spellGroup.spells
              | MatchesSpellSearchTerm: spellSearchTerm
          "
        >
          <spell-card [spell]="spell"></spell-card>
        </div>
      </div>
    </div>
  </div>
</div>
