<div class="Grid-cell padded border-top">
  <div class="attributesContainer flex-row">
    <div *ngFor="let attribute of hero.attributes; index as i; keyvalue" class="attribute flex-col">
      <div class="attributeLabel flex-item">
        <label>{{attribute.short}}</label>
      </div>
      <div class="value flex-item">{{attribute.value}}</div>
      <!-- <div *ngIf="editMode" class="editValue"><input [value]="attribute.value" /></div> -->
      <div *ngIf="editMode" class="editValue">
        <button (click)="editAttribute(attribute)">edit</button> 
      </div>
    </div>
  </div>
</div>