<md-card class="heroes-entry">
    <md-card-content>
        <div class="headerContainer">
            <!--  -->
            <div class="headerContent">
                <md-card-title>{{hero.name}}</md-card-title>
                <md-card-subtitle>{{hero.hero_type.name}}</md-card-subtitle>
            </div>
        </div>
        <div class="contentContainer">
            <ul class="skills">
                <li><div class="label">Attacke:</div>5</li>
                <li><div class="label">Parade:</div>4</li>
                <li><div class="label">Trefferpunkte:</div>1W+4</li>
                <li><div class="label">Rüstung:</div>3</li>
            </ul>
            <div class="heroAvatar">
                <img class="heroAvatarImage" src="{{baseUrl}}{{hero.avatar_small}}" height="100%" />
            </div>
        </div>
        <div class="actionsContainer">
            <hero-controls [hero]="hero">
            </hero-controls>
        </div>
    </md-card-content>
</md-card>
