<mat-card class="heroes-entry">
  <mat-card-content>
    <div class="headerContainer" (click)="gotoDetail()">
      <!--  -->
      <div class="headerContent">
        <h2>{{hero.name}}</h2>
        <span>{{hero.hero_type.name}}, Stufe {{hero.level}}</span>
      </div>
    </div>
    <div class="cardContentContainer" (click)="gotoDetail()">
      <ul>
        <li>
          <div class="label">Attacke:</div>{{hero.currentAttack}}
        </li>
        <li>
          <div class="label">Parade:</div>{{hero.currentParade}}
        </li>
        <li>
          <div class="label">Trefferpunkte:</div>{{hero.currentWeaponDamageText}}
        </li>
        <li>
          <p>Rüstung: 3</p>
        </li>
      </ul>
      <div class="heroAvatar" (click)="gotoDetail()">
        <img class="heroAvatarImage no-border" src="{{baseUrl}}{{hero.avatar_small}}" height="100%" />
      </div>
    </div>
    <div class="actionsContainer">
      <hero-controls [hero]="hero">
      </hero-controls>
    </div>
  </mat-card-content>
</mat-card>
