<div class="propertiesContainer" >
  <div class="padded">
    <abenteuer-punkte-display [hero]="hero"></abenteuer-punkte-display>
    <div class="flex-row">
      <div class="label">
        <label>Größe: </label>
      </div>
      <div class="value">{{hero.size}}</div>
    </div>
    <div class="flex-row">
      <div class="label">
        <label>Rasse: </label>
      </div>
      <div class="value">{{hero.race.name}}</div>
    </div>
    <div class="flex-row">
      <div class="label">
        <label>Kultur: </label>
      </div>
      <div class="value">{{hero.culture}}</div>
    </div>
    <div class="flex-row">
      <div class="label">
        <label>Sozialrang: </label>
      </div>
      <div class="value">{{hero.social_rank}}</div>
    </div>
    <div class="flex-row">
      <div class="label">
        <label>Magieresistenz: </label>
      </div>
      <div class="value">{{hero.magieresistenz}}</div>
    </div>
  </div>
</div>