<input type="search" [value]="talentSearchTerm" (input)="talentSearchTerm  = $event.target.value" />
<div *ngFor="let skillGroup of hero.skillGroups | MatchesSearchTermChildren:talentSearchTerm">
<!-- <div *ngFor="let skillGroup of hero.skillGroups"> -->
  <div class="skillGroupTitle">{{skillGroup.skillGroup.name}}</div>
  <div class="skillGroupEntries">
    <!-- <div class="skillEntry" *ngFor="let skill of skillGroup.skills"> -->
      <div class="skillEntry" *ngFor="let skill of skillGroup.skills | MatchesSearchTerm:talentSearchTerm">
    <!-- <mat-grid-list [cols]="breakpoint" rowHeight="80px"> -->
      <!-- <mat-grid-tile *ngFor="let skill of skillGroup.skills" colspan="1" rowspan="1" > -->
        
        <talent-card [skill]="skill"></talent-card>
      <!-- </mat-grid-tile> -->
    <!-- </div> -->
    <!-- </mat-grid-list> -->
  </div>
</div>