<div class="detailNavigation flex-item flex-row">
  <button class="backButton" (click)="navToOverview()">
    <i class="fa fa-arrow-left"></i> Übersicht
  </button>
  <div class="detailNavButtons">
    <button (click)="updateDetailView('character')" [ngClass]="detailArea === 'character' ? 'paper-btn btn-primary' : 'paper-btn'">
      Character
    </button>
    <button (click)="updateDetailView('talents')" [ngClass]="detailArea === 'talents' ? 'paper-btn btn-primary' : 'paper-btn'">
      Talente
    </button>
    <button *ngIf="hero.knowsMagic" (click)="updateDetailView('spells')" [ngClass]="detailArea === 'spells' ? 'paper-btn btn-primary' : 'paper-btn'">
      Zauber
    </button>
    <button (click)="updateDetailView('inventory')" [ngClass]="detailArea === 'inventory' ? 'paper-btn btn-primary' : 'paper-btn'">
      Inventar
    </button>
  </div>

  <!-- <div class="menuContainer" >
    
    <div class="menuItems">
      <div class="menuItem" (click)="updateDetailView('character')" >
        Character
      </div>
      <div class="menuItem" (click)="updateDetailView('inventory')" >
        Inventar
      </div>
    </div>
    <div class="menuItems">
      <div class="menuItem" (click)="navTo(menuItem.target)" *ngFor="let menuItem of menu; index as i; keyvalue">
        {{menuItem.title}}
      </div>
      <h4>Talente</h4>
      <div class="menuItem" *ngFor="let skillGroup of hero.skillGroups; index as i; keyvalue" (click)="navToSkillGroup(skillGroup)">
        {{skillGroup.getSkillGroup().name}}
      </div>
      <h4 *ngIf="hero.knowsMagic">Zauber</h4>
      <div class="menuItem" *ngFor="let spellGroup of hero.spellGroups; index as i; keyvalue" (click)="navToSpellGroup(spellGroup)">
        {{spellGroup.getSpellGroup().name}}
      </div>
    </div>
    <div class="menuItems" *ngIf="menuVisible === true && detailArea === 'inventory'">
      <div class="menuItem" (click)="navTo('weapons')">
        Waffen
      </div>
      <div class="menuItem" (click)="navTo('armor')">
        Rüstung
      </div>
      <div class="menuItem" (click)="navTo('')">
        Rüstung
      </div>
    </div>
    
  </div> -->

</div>

