.detailNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    width: 100%;
    /*  
    transition: height 10s ease-out;
    */
}
.menuContainer {
    margin: 0;
    padding: 0 0 10px 0;
    box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.5);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #eee;
    background-color: snow;
    width: 600px
}

h4 {
    color: snow;
    padding: 15px 10px 5px 10px;
    margin:0;
    background-color: rgb(139, 50, 50);
}

.menuItems {

}
.menuItem {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    margin:0;
    padding: 10px;
}

.viewToggle {
    box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.5);
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #eee;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuToggleIcon {
    transition: transform 0.5s ease-in-out;
}

.menuToggleIcon.menuShown {
    transform: rotate(180deg);
}