<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" style="width:200px" opened>
    <button mat-button class="navButton"><mat-icon class="navIcon">burst_mode</mat-icon>
Send Image to Clients</button>
    <button mat-button class="navButton"><mat-icon class="navIcon">whatshot</mat-icon>Start Fight!</button>
    <button mat-button class="navButton"><mat-icon class="navIcon">library_music</mat-icon>Music and Sounds</button>
  </mat-sidenav>
  <mat-sidenav-content><heroes-list></heroes-list></mat-sidenav-content>
</mat-sidenav-container>
    
