md-sidenav-container {
	height: 100%;
}

md-sidenav .mat-sidenav.mat-sidenav-push {
	background-color: #666;
}

.pageContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;/*
	align-items: center;*/
}

/*#menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	color: #fff;
}*/

.wrapper {
	height: 100%;
}



md-toolbar {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	color: #666;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #23051C;
}

.toolbarCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 40px;
}

h1 {
	color: #999;
	font-size: 1rem;
	margin: 5px;
}

#appMenuButton {
	position: fixed;
	top:20px;
	left:calc(50%);
	margin-left: -10px;
	background-color: #ccc;
}

.padded {
	padding: 20px;
  }