<!-- <div class="pageContainer"> -->
<!-- <div id="menu"> -->
<md-sidenav-container>
  <md-sidenav mode="push" #sidenav opened="false">
    <menu>
    </menu>
  </md-sidenav>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
  <!-- primary content -->
</md-sidenav-container>
<button class="hamburger hamburger--spin" [ngClass]="{'is-active':sidenav.opened}" type="button" id="appMenuButton" (click)="sidenav.toggle()">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<!-- <button md-button id="appMenuButton" md-icon-button (click)="sidenav.toggle()"><i class="fa fa-bars"></i></button> -->
<!-- </div> -->
<!-- </div> -->
