<div class="kampfwerte padded flex-item flex-col">
  <h4>Kampfwerte</h4>
  <h5>Basiswerte</h5>
    
  <div class="flex-row">
    <div class="flex-item">
      <label class="long">Attacke:&nbsp;</label> {{hero.attack_basis}}
    </div>
    <div class="flex-item">
      <label class="long">Parade:&nbsp;</label> {{hero.parade_basis}}
    </div>
    <div class="flex-item">
      <label class="long">Fernkampf:&nbsp;</label> {{hero.fernkampf_basis}}
    </div>
  </div>
  <h5>Aktuelle Werte</h5>
  <div class="kampfwerte">

    <div class="flex-row">
      <label>Attacke:&nbsp;</label> {{hero.currentAttack}}
    </div>
    <div class="flex-row">
      <label>Parade:&nbsp;</label> {{hero.currentParade}}
    </div>

  </div>
  <h5>Waffe</h5>
  
  <mat-radio-group *ngIf="hero.currentWeapon" [value]="hero.currentWeapon.name">
    <div class="skillGroupEntries flex-row" *ngFor="let weapon of hero.weapons">
      <mat-card class="weaponEntry flex-item">
        <mat-radio-button value="{{weapon.name}}" (change)="updateCurrentWeapon(weapon)">
          <div class="weaponChoiceLabel">
            <div class="weaponName">{{weapon.name}}</div>
            <div class="weaponDices">{{weapon.damageDice}}W6+{{weapon.damageAddPoints}}</div>
          </div>
        </mat-radio-button>
      </mat-card>
    </div>
  </mat-radio-group>

</div>