.weaponEntry {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.8rem;
  align-items: center;
  justify-content: stretch;
}

.form-group .paper-check input+span, .form-group .paper-radio input+span {
  display: flex;
}

.currentValues.flex-col {
  /* background-color: #fffffa; */
  font-size: x-large;
  justify-content: flex-start;
}