.heroDetailHeader {
  /*padding: 20px 20px 0 20px;*/
  display: flex;
}

.padded {
  padding: 20px;
}

.skillEntry i {
  margin-right: 5px;
}

label.long {
  width: 150px;
  display: none;
}

label.short {
  width: 40px;
}

.pageContent {
  padding-bottom: 40px;
}

#avatarContainer {
  order: 1;
  border-bottom: 1px solid #999;
  background-color: #fff;
}

#propertiesContainer {
  order: 2;
}

#attributesContainer {
  order: 3;
}

.heroAvatarImage,
.heroAvatar {
  height: 150px;
}

.heroAvatar {
  margin-top: -15px;
}

.actionsContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.talente {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skillGroupEntries {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
}

.talentSearchBox {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin: -20px 0 10px 0;
  padding: 10px;
}

.skillGroupTitle {
  padding: 10px 0;
}

.skillEntry,
.weaponEntry {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.8rem;
  align-items: center;
  justify-content: stretch;
}

talent-card {
  flex: 1;
}

.skillContent,
.weaponEntry {
  margin: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  align-items: center;
}

.weaponEntry {
  min-height: 30px;
  padding-left: 10px;
}

.skillTitle {
  width: 150px;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.skillBe {
  width: 60px;
}

.skillValue {
  width: 30px;
  color: #AD2003;
}

.dices,
.fightDices {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  align-items: center
}

.dice {
  width: 30px;
  text-align: center;
}

.fightDice {
  width: 45px;
}

/** Search box **/

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

input.talentSearchInbox {
  text-align: center;
  height: 30px;
  width: 100%;
}

form.search {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

}

.mat-option.skillOption {
  height: auto;
  line-height: 12px;
}

mat-radio-button {
  width: 100%;
}

.weaponChoiceLabel div {
  float: left;
  padding-right: 20px;
}

.weaponChoiceLabel :nth-child(1) {
  width: 120px
} 


@media (min-width: 48em) {
  #avatarContainer {
    order: 3;
    background-color: transparent;
    border-bottom: none;
  }

  #propertiesContainer {
    order: 1;
  }

  #attributesContainer {
    order: 2;
  }

  .heroAvatarImage,
  .heroAvatar {
    height: 300px;
  }

  label.long {
    display: inline;
  }

  label.short {
    display: none;
  }

  .skillEntry {
    /* width: 50%; */
    float: left;
  }
}
