/* You can add global styles to this file, and also import other style files */

@import url('/assets/font-awesome/css/font-awesome.min.css');
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

/*$hamburgers-padding-x: 20px;*/
/*$hamburgers-padding-y: 15px;*/
/*$hamburger-types     : (spin);*/

@import "~hamburgers/dist/hamburgers.min.css";

body {
  background: #343434 url('/assets/the_huntsman_by_inkyh-d8m6ypt.jpg') top center no-repeat;
  /*background-color: #ababab;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
my-app,
md-sidenav-container,
.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav {
  width: 80%;
  max-width: 400px;
}

.page {
  padding-top: 60px;
}

.mat-sidenav-container {
  background-color: transparent !important;
}

.headerContainer {
  background-color: #AD2003;
  flex-grow: 1;
  width: 100%;
  color: #EEEBE3;
  height: 70px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 2px solid #5F0609;
}

.headerContainer h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.pageContent {
  background-color: rgba(244, 244, 244, 0.5);
  width: 90%;
  /*min-width: 600px;*/
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.flex-col.center {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.flex-item {
  display: flex;
  flex: 1; 
}

.headerContent {
  padding: 10px 20px;
}

.contentContainer {
  padding: 10px 20px;
}



.contentBox {
  background-color: rgba(255,255,255,0.9);
  /*background-color: #F2F1ED;*/
  width: 100%;
  /*border-radius: 2px;*/
  /*margin:10px;*/
  /*margin:20px;*/
}

.label {
  width: 100px;
}


h4 {
  margin: 10px 0;
}

.leftHalf,
.rightHalf {
  flex: 1;
}


/** responsive grid **/


/*Basic Grid Styles*/

.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.u-textCenter {
  text-align: center;
}

.Grid-cell {
  flex: 1;
}

.Demo {
  padding: .8em 1em 0;
  margin-bottom: 1em;
  background: $demoMain;
  transition: background-color 0.3s ease;
  border: 1px solid $demoBorder;
  border-radius: 3px;
  &:after {
    content: "";
    display: block;
    margin-top: .8em;
    height: 1px;
  }
  &:hover {
    background: $demoMainDark;
  }
}

.Demo.Holly {
  background: $demoHolly;
  &:hover {
    background: $demoHollyDark;
  }
}




/* With gutters*/

$gutter: 1em;
.Grid--gutters {
  margin-left: -$gutter;
  .Grid-cell {
    padding-left: $gutter;
  }
  .Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 1em;
      }
    }
  }
}





/* Justify per row*/

.Grid--right {
  justify-content: flex-end;
}

.Grid--center {
  justify-content: center;
}


/* Alignment per row */

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}


/* Alignment per cell */

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}


/*===========================================*/


/* Base classes for all media - Mobile first */

.Grid--cols-2>.Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-3>.Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-4>.Grid-cell {
  flex: 0 0 100%;
}

.Grid--cols-6>.Grid-cell {
  flex: 0 0 calc(50% - #{$gutter});
}

.Grid--cols-12>.Grid-cell {
  flex: 0 0 calc(33.3333% - #{$gutter});
}

.Grid--holly-grail {
  .aside,
  .main {
    flex: 1 100%;
  }
}


/* One of -- columns*/

.Grid--1of2>.Grid-cell,
.Grid--1of4>.Grid-cell:first-of-type,
.Grid--1of3>.Grid-cell:first-of-type {
  flex: 0 0 100%;
}

.Grid--1of6>.Grid-cell:first-of-type {
  flex: 0 0 50%;
}

.Grid--fit>.Grid-cell {
  flex: 1;
}

.Grid--full>.Grid-cell {
  flex: 0 0 100%;
}


/* Tablet (medium) screens */

@media (min-width: 30em) {
  .Grid--cols-4>.Grid-cell {
    flex: 0 0 calc(50% - #{$gutter});
  }
  .Grid--cols-6>.Grid-cell {
    flex: 0 0 calc(33.3333% - #{$gutter});
  }
  .Grid--cols-12>.Grid-cell {
    flex: 0 0 calc(16.6666% - #{$gutter});
  }
  .Grid--holly-grail {
    .aside {
      flex: 1 calc(25% - #{$gutter});
    }
  }
  .Grid--1of2>.Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6>.Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--1of4>.Grid-cell:first-of-type {
    flex: 0 0 50%;
  }
  .Grid--1of3>.Grid-cell:first-of-type {
    flex: 0 0 100%;
  }
}


/* Large screens */

@media (min-width: 48em) {
  .Grid--cols-2>.Grid-cell,
  .Grid--cols-3>.Grid-cell,
  .Grid--cols-4>.Grid-cell,
  .Grid--cols-6>.Grid-cell,
  .Grid--cols-12>.Grid-cell {
    flex: 1;
  }
  .Grid--holly-grail {
    .main {
      flex: 2;
    }
    .aside {
      flex: 1;
    }
    .aside-1 {
      order: 1;
    }
    .main {
      order: 2;
    }
    .aside-2 {
      order: 3;
    }
  }
  .Grid--1of2>.Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6>.Grid-cell:first-of-type {
    flex: 0 0 16.6666%;
  }
  .Grid--1of4>.Grid-cell:first-of-type {
    flex: 0 0 25%;
  }
  .Grid--1of3>.Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--gutters.Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 0;
      }
    }
  }
}
