.heroes-list {
  padding: 0;
  width: 100%;
  max-width: 400px;
  transition: visible 1s ease-in;
  animation-delay: 2s;
}

hero-card {
  margin-bottom: 15px;
  display: block;
}

h1 {
  margin: 2rem 0 -1.6rem 0;
}

.heroes-banner {
  width: 280px;
  margin-left: 2rem;
  transition: margin-top 0.4s ease-out;
  /* transform: translate3d(0, 0, 1px); */
}

.heroes-banner-container {
  height: 20rem;
}

/** navigation behavior **/
.navColumn {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}

.navColumn.activeEntry {
  flex-grow: 1;
}

.navColumn:not(.activeEntry) {
  min-width: 100px;
}

.navColumn:not(.activeEntry) .heroes-banner {
  width: 100px;
  margin-left: 2rem;
  transition: margin-top 0.4s ease-out;
  /* transform: translate3d(0, 0, 1px); */
  margin-top: 5rem;
}

.firstNavColumn:not(.activeEntry) {
  margin-left: -50px;
}

.secondNavColumn:not(.activeEntry) {
  margin-right: -20px;
}

.landingPage .heroes-banner {
  margin-top: 30rem;
}

adventure-display {
  margin-bottom: 3rem;
}
